<section class="container my-4 py-4">
    <h2 class="mb-4 h1 font-weight-bold">Express.js Articles</h2>
    <div class="row mb-5">
        <% for(i=0; i < articles.length; i++) { %>
            <div class="col-md-5 zoom p-3">
                <a href="/post/<%= articles[i]._id %>">
                    <img src="<%= articles[i].image %>"
                         class="img-fluid rounded shadow-lg"
                         alt="<%= articles[i].title %>" />
                </a>
            </div>
            <div class="col-md-7 p-3">
                <h3><%= articles[i].title %></h3>
                <p class="text-muted">
                    <%= articles[i].body.substring(0, 110) %> . . .
                </p>
                <small>
                    Posted On <%= articles[i].datePosted.toLocaleString() %>
                </small>
            </div>
        <% } %>
    </div>
</section>