<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>

<div class="container-fluid" style="margin-top: 160px;">

    <%- include('cards/blogsPageData') -%>

</div>

<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>