<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<!-- Navbar -->
<%- include('layouts/navBar') -%>
<!-- Navbar -->

<main>

    <!-- parallax intro -->
    <%- include('components/galleryIntro') -%>
    <!-- parallax intro -->

    <!-- content -->
    <%- include('components/gallery-content') -%>
    <!-- content -->

</main>

<!--footer-->
<%- include('layouts/footer') -%>
<!-- footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
