<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<!-- Navbar -->
<%- include('layouts/navBar') -%>
<!-- Navbar -->

  <!-- content -->
  <main>
    <!-- parallax intro -->
    <%- include('components/homeIntro') -%>
    <!-- parallax intro -->

    <!-- first section below intro -->
    <%- include('components/homeSection1') -%>
    <!-- end of first section -->

    <!-- offerings -->
    <%- include('components/previous') -%>
    <!-- offerings -->

    <!-- blogs -->
    <%- include('components/homeBlogsSection') -%>
    <!-- blogs -->

  </main>
  <!-- content -->

<!--footer-->
<%- include('layouts/footer') -%>
<!-- footer -->

<%- include('layouts/scripts') -%>

</body>
</html>
