<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<body>

<%- include('layouts/navBar') -%>

<%- include('cards/homeIntro') -%>

<div class="container" style="margin-top: 110px;">
    <%- include('cards/homeFeatures') -%>

    <%- include('cards/homeSection1') -%>

    <%- include('cards/homeCarousel') -%>

    <%- include('cards/homeBlogsSection') -%>
</div>

<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>