<style>
    body {
        background-color: #f4f4f4;
    }
</style>

<!--Section: Design Block-->
<section class="mb-5 position-relative">

    <!-- SVG Background -->
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" preserveAspectRatio="none"
         class="svg position-absolute d-block" style="height: 560px; width: 100%; z-index: -10; overflow: hidden">
        <defs>
            <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
                <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
            </linearGradient>
        </defs>
        <path fill="url(#sw-gradient-0)"
              d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z">
        </path>
    </svg>

    <!-- Content -->
    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/blogs">Blogs</a></li>
                <li class="breadcrumb-item active" aria-current="page" href="#"><%= blog.title %></li>
            </ol>
        </nav>
        <div class="container mt-5 mb-xl-5 py-xl-3">
            <% if(loggedIn) { %> 
                <a href="/delete/<%= blog._id %>">Delete Post</a>
            <% } %>
            <div class="row">
                <div class="col-12">
                    <h1 class="display-3 fw-bold ls-tight text-dark pb-4"><%= blog.title %></h1>
                    <small>Posted On <%= blog.datePosted.toLocaleString() %> By <%= blog.userid.username %></small>
                    <p class="lead fw-normal text-dark mb-5">
                        <%= blog.body %>
                    </p>

                    <img src="<%= blog.image %>"
                         class="img-fluid rounded-circle"
                         style="max-height: 310px;"
                         alt="<%= blog.title %>">
                </div>
            </div>
        </div>
    </div>

</section>
<!--Section: Design Block-->